encryption = "age"

[age]
identity = "{{ age_key_file }}"
recipients = ["{{ age_public_key }}"]

[data]
email = "{{ ansible_user_id }}@{{ ansible_hostname }}"
hostname = "{{ ansible_hostname }}"
os = "{{ ansible_facts.os_family | lower }}"
arch = "{{ ansible_facts.machine }}"
user = "{{ ansible_user_id }}"
brew_prefix = "{{ brew_prefix }}"
is_darwin = {{ (ansible_facts.os_family == "Darwin") | lower }}
is_linux = {{ (ansible_facts.os_family != "Darwin") | lower }}
{% if ansible_facts.os_family == "Darwin" %}
is_arm = {{ (ansible_facts.machine in ["arm64", "aarch64"]) | lower }}
{% elif ansible_facts.os_family == "Debian" %}
is_wsl = {{ (ansible_kernel is search("microsoft|WSL") | default(false)) | lower }}
distribution = "{{ ansible_facts.distribution | lower }}"
{% endif %}
